.banner{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-transform: uppercase;

	h1{
		font-size: 120px;
	}

	nav{
		width: 630px;
		display: flex;

		p{
			flex: 1;
			text-align: center;
			border-right: 1px solid #383838;

			&:first-child{
				border-left: 1px solid #383838;
			}
		}
	}
}