.work-section{
	width: 100%;
	/*background-image: url('../images/BG_1.jpg');*/
	background: white;
	background-position: center center;
	padding: 4rem 0;

	> .section-wrap{

		> h2{
			text-transform: uppercase;
			/*color: white;*/
			color: #383838;
			margin: 0 0 1rem 0;
			font-weight: 100;
		}	
		
		> div{
			display: flex;

			@media(max-width: 1024px){
				flex-direction: column;
			}

			> div{

				&:nth-child(1){
					height: 500px;
					box-sizing: border-box;
					flex: 4;
					background: #383838;
					margin: 0 1rem 0 0;

					@media(max-width: 1024px){
						flex: none;
						margin: 0 0 1rem 0;
					}

					@media(max-width: 768px){
						margin: 0;
					}
				}

				&:nth-child(2){
					flex: 1;
					display: flex;
					flex-direction: column;

					@media(max-width: 1024px){
						flex: none;
						flex-direction: row;
					}

					@media(max-width: 768px){
						flex-wrap: wrap;
					}

					> div{
						cursor: pointer;
						flex: 1;
						box-sizing: border-box;
						margin: 0.25rem 0;
						display: flex;
						flex-direction: column;

						@media(max-width: 1024px){
							margin: 0 0.25rem;
							height: 160px;
						}

						@media(max-width: 768px){
							min-width: 175px;
							width: calc(50% - 0.5rem);
							margin: 0 0.25rem;
							flex: none;
						}

						&:nth-child(4n+1){
							margin: 0 0 0.25rem 0;

							@media(max-width: 1024px){
								margin: 0 0.25rem 0 0;
							}

							@media(max-width: 768px){
								margin: 0;
							}
						}

						&:nth-child(4n+4){
							margin: 0.25rem 0 0 0;

							@media(max-width: 1024px){
								margin: 0 0 0 0.25rem;
							}

							@media(max-width: 768px){
								margin: 0;
							}
						}

						&:nth-child(odd){
							@media(max-width: 768px){
								margin: 1rem 0.5rem 0 0;
							}
						}

						&:nth-child(even){
							@media(max-width: 768px){
								margin: 1rem 0 0 0.5rem;
							}
						}

						> div{
							flex: 5;
							height: auto;
							background: #383838;
						}

						> p{
							padding: 0.25rem;
							flex: 1;
							/*color: white;*/
							color: #383838;
							display: flex;
							align-items: center;
						}
					}
				}
			}
		}

		> p{
			margin: 2rem 0 0 0;
			text-align: center;
		}
	}
}